<!DOCTYPE html>
<html>

<head>
<title>AI Insurance Evaluation</title>

<style>

body{
margin:0;
font-family:Segoe UI;
background:url("/static/bg1.jpg");
background-size:cover;
color:white;
text-align:center;
}

.container{
margin-top:200px;
}

h1{
font-size:55px;
}

button{
padding:15px 40px;
font-size:18px;
background:#00c6ff;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#0095ff;
}

</style>

</head>

<body>

<div class="container">

<h1>Autonomous Quote Agent System</h1>

<p>AI Powered Insurance Evaluation Pipeline</p>

<a href="/input">
<button>START EVALUATION</button>
</a>

</div>

</body>
</html>
